.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#root {
  font-family: 'Ubuntu', 'Baloo Bhaijaan 2', 'cursive', 'sans-serif';
  /* background-color:#F7F5F2; */
  height: 100vh;
}

.navTitle {
  color: black;
  font-size: 2.5rem;
  font-weight: 600;
  /* margin-top:20px; */
  margin-left: 6%;
}

/* .navTitle:hover {
  color: grey;
} */

.navbarProp {
  padding-top: 0%;
  padding-bottom: 0%;
}

.nav-menu {
  margin-left: 200px;
}


.nav-menu-a {
  font-weight: 400;
  font-size: 1.35rem;
  padding: 8px 15px 8px 15px;
  margin: 8px 17px 8px 17px;
  color: white;
}

.navCenter {
  /* margin-left: 350px; */
  margin-left: 15rem;
}

@media screen and (max-width: 990px) {
  .navCenter {
    margin-left: 3.8%;
  }
}

.blackColor {

  color: black;
}

.toggleBtn {

  align-items: center;
  justify-content: center;
}

#SectionHr {
  color: rgb(28, 5, 5);
  border: dashed;
  height: 0px;
  margin-top: 80px;
  border-width: 3px 0px 0px 0px;

}

.hrElement {
  color: grey;
  border: dashed;
  border-width: 3px 0px 0px 0px;
}

.alert {
  height: 128px;
  /* margin: 0; */
  padding-top: 5rem;
  padding-bottom: 1rem;
  padding-left: 7%;
  padding-right: 0%;
  /* background-color: #c99058; */
  color: black;
}

#add-Title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2.5rem;
  line-height: 1.3;
}

.input-tag {
  font-size: 1.3rem;
  font-weight: 500;
}

.input-btn-tag {
  font-size: 1.3rem;
  font-weight: 800;
}

.WhiteColor {
  color: white;
}

#footer {
  margin-bottom: 0%;
  padding-bottom: 0%;
  /* background-color: black;
  color: white; */
  width: 100%;
  height: auto;
}